.main{
    .category{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        display: grid;
        place-items: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease-out;

        .link{
            font-size: 18px;
            color: #f7df1e;
            text-decoration: none;
        }
    }
}


.category.active{
    visibility: visible;
    opacity: 1;
}